<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Enviar parámetros del Request Http Get -Url</title>
</head>
<body>
<h1>Enviar parámetros del Request Http Get -Url</h1>

<ul>
<li><a th:href="@{/params/string(texto='hola Andres')}">/params/strig?texto=Hola Andres </a></li>
<li><a th:href="@{/params/string(texto= 'hola John ')}">/params/string?texto=Que tal john</a></li>
<li><a th:href="@{/params/mix-params(saludo = 'Como estas Andres' , numero = 7)}">/params/mix-params?saludo=Como estas Andres&?numero=7</a></li>
<li><a th:href="@{/params/mix-params-request(saludo = 'Como estas Andres' , numero = 7)}">/params/mix-params-request?saludo=Como estas Andres&?numero=7</a></li>

</ul>


</body>
</html>